.App {
  text-align: center;
}
.wallpaper{
  background-image: url(https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=693&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100rem;
}
#getin-button{
  position: relative;
  left : 50%;
  box-sizing:border-box;
}
